@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Permanent+Marker&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header {
  text-align: center;
  display: flex;
  justify-content: center;
}

header .color1 {
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
}
header .color2 {
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
}
header .color3 {
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;
}

#hue {
  // display: flex;
  justify-content: center;
}

p {
  text-align: center;
}

section {
  text-align: center;
}

div .button {
  display: flex;
  justify-content: center;
  padding: 15px 32px;
  font-size: 12px;
  // text-align: center;
}

button {
  font-size: 15px;
}
